body{
    background-color: #00ceff;
    color: #08089c
}

p {
    border: #2f7769 5px solid;
    background-color: #62f7d6;
    color: #8a33f0;
    padding: 20px;
    margin: 20px;
}

h3{
    border: #2f7769 5px solid;
    background-color: #62f7d6;
    color: #8a33f0;
    padding: 20px;
    margin: 20px;
}
